<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getling.gwframe">

    <application>
        <activity android:name=".scan.ScanQRCodeActivity" />
        <activity android:name=".pdf.PDFViewActivity" />
        <activity android:name=".imagepreview.ImagePreviewActivity" />
        <activity
            android:name=".login.BaseSplashActivity"
           />
        <activity android:name=".setting.BaseSettingActivity" />

        <service
            android:name=".http.network.NetworkCheckService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
